# Environment variables and secrets
.env
.env.*
!.env.example

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
env/
.venv/

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/credentials.toml
